# Database Configuration (Turso)
# Replace with your own Turso database credentials
TURSO_DATABASE_URL=libsql://jobs-kartop04.aws-eu-west-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODY3NDIwNjMsImlkIjoiMDFhMDAyMWQtOTcwMS03ZWE4LWI3NzItNjc2ZWU3NTAxZWRjIiwia2lkIjoiZzZuM2tQWjFDUTVEaVdaWWxLWUdNU1JXTXdXT0xZRDkzaFpuTGxEV0NsbyIsInJpZCI6Ijc1N2JjMWJkLTA3ZWYtNGEwZi1hMWYyLWIxYjA4NmY1MmY0ZSJ9.FjihMQNBYXJF40J6Hrl4iSNUmtD0G7Za9MDQqM-Mzk_Ubr98oxq9hM6HG6uQr1KQm5L6oB9kjrjvLwi4YtgFCQ
# Airtable (legacy, only if you need to keep the old data source)
# AIRTABLE_ACCESS_TOKEN=
# AIRTABLE_BASE_ID=
# AIRTABLE_TABLE_NAME=Jobs

# Email Provider Configuration
# Choose your email provider: encharge, mailchimp, convertkit, sendgrid
EMAIL_PROVIDER=encharge

ENCHARGE_WRITE_KEY=your_encharge_write_key_here

# Application URL
NEXT_PUBLIC_APP_URL=https://yourdomain.com